body{
  border:5px Black;
  background-color:lightGray;
}
.background{
  background-color: Gray;
  font-family:Comic Sans MS;
}
.background2{
  background-color: lightGray;
  font-family:Comic Sans MS;
}
.text{
  color:Blue;
  font-family:Comic Sans MS;
}
p{
  color:Blue;
  font-family:Comic Sans MS;
  background-color: lightGray;
}
td{
  color: red;
  font-family:Comic Sans MS;
}
.comments{
  color: red;
  font-family:Comic Sans MS;
}
<!-- update please -->

title{
  text-align: center;
}
